/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
			========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* for all */
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */
.wrapper {
  max-width: 1360px;
  width: 60.1%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* start here*/

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* open modal buttons */

.btn_modal {
  padding: 20px 5%;
  background-color: gray;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3 ease;
}

.btn_modal:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}

.btn_list {
  display: flex;
  flex-direction: column;
}

.btn_list li {
  margin-top: 20px;
}

/* btn ends */

/* modal container */
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.show_modal {
  display: flex;
}

/* modal 1  */
.modal_content {
  background-color: white;
  width: 30%;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.modal_element1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 10px 5%;
}

.modal_content h1 {
  font-size: 2rem;
}

/* modal 2 starts */

.modal_content2 {
  background-color: #78b3ce;
  width: 30%;
  height: 200px;
  text-align: center;
  border-radius: 6px;
  color: white;
}

.modal_content2 h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 5px;
}
.modal_content2 .close_btn::before {
  content: none;
  cursor: pointer;
}

.modal_content2 p {
  margin-top: 20px;
}

.modal_content2 .button_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modal_content2 .close_btn {
  padding: 10px 5%;
  background-color: #fbf8ef;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  font-weight: 600;
}

/* modal 2 ends */
/* modal 3 starts */
.modal_content3 {
  background-color: white;
  width: 30%;
  height: 390px;
}

.modal_content3 .modal_dark {
  color: white;
  height: 200px;
  background-color: #363062;
}

.modal_dark h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.modal_dark_heading {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
}

.modal_dark_heading .close_btn::before {
  font-size: 1.5rem;
  font-weight: 900;
  color: gray;
}
.modal_content3 .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email::before {
  content: "\f0e0";
  font-family: "font awesome 5 free";
  font-size: 5rem;
}

.email span {
  display: none;
}

.modal_light {
  padding: 10px;
  text-align: center;
}

.modal_light .close_btn::before {
  content: none;
}

.modal_light > .close_btn {
  padding: 10px 15%;
  margin-top: 10px;
  font-size: 1.2rem;
  background-color: #73ec8b;
  border: none;
  font-weight: 600;
  color: white;
}

/* modal 3 ends */

.modal_content4 {
  width: 25%;
  height: 300px;
  background-color: white;
  padding: 20px;
}

.modal_content4 .modal_element19 {
  font-size: 1rem;
  border-bottom: none;
  margin-top: 30px;
  color: gray;
}

.modal_content4 .close_btn::before {
  content: none;
}

.modal_content4 h1 {
  font-size: 2rem;
  font-weight: 600;
}

.modal_element19 .close_btn {
  background-color: rgb(62, 165, 62);
  border: none;
  padding: 10px 40%;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 20px;
}

.close_btn::before {
  content: "\58";
  font-family: "font awesome 5 free";
  font-size: 2rem;
  cursor: pointer;
}

.close_btn span {
  display: none;
}

.modal_element3 {
  padding: 50px 5%;
  font-size: 1.2rem;
}
